{% extends 'main.html.twig' %}

{% block title %}{% trans %}Laboraratoire{% endtrans %}{% endblock %}

{% block body %}
{# {{ dump() }} #}
<h5>Resultat examen <strong> #{{exament.id}}</strong></h5>
<div {{react_component('AddResulte',{ items: items, id:exament.id, url: path('laboraratoire_index') })}}></div>
{% endblock %}