{% extends 'main.html.twig' %}

{% block title %}Edit ExamItem{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <a class="btn btn-primary" href="{{ path('app_exam_item_index') }}">{% trans %}Retour{% endtrans
                        %}</a>

                    {{ include('exam_item/_delete_form.html.twig') }}
                </div>
            </div>
            <div class="card-body">
                {{ include('exam_item/_form.html.twig', {'button_label': 'Update'|trans}) }}

            </div>

        </div>
    </div>
</div>


{% endblock %}