{% extends 'main.html.twig' %}

{% block title %}
{% trans %}List des medicaments{% endtrans %}
{% endblock %}

{% block body %}
<h4>{% trans %}List des medicaments{% endtrans %}</h4>


<a class="btn btn-primary mb-2" href="{{ path('app_admin_medicament_controlleur_new') }}">
    {% trans %}Ajouter{% endtrans %}
</a>
{{ component('MedicmentList') }}
{% endblock %}